*{
 
    font-family:Arial, Helvetica, sans-serif;
}

body{
    
 background-color: #F9F9F9;
    
}
 
#middle {
    width: 400px;
    height: 400px;
  
    margin-left:auto;
    margin-right:auto;
    top:50%;
    margin-top:200px;

}
img{
 border-radius:200px;   
}
#center {
    height: 340px;
    padding-top:20px;
    width: 400px;
  
}
input{
    left:50%;
    margin-left:90px;
 width:190px;
    height:20px;
    margin-bottom:30px;
}
h2{
 text-align:center;
}

#logo>img{
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
 padding: 0;

    margin-left: 100px;
     width:200px;
    height:200px;
        border-radius:200px;
}

.next ,submit{
left:0;
    border:0;
    margin-left:0px;
    width: 400px;
    text-align:center;
 
    text-decoration:none;
    font-size:1em;
    height: 40px;
    padding: 10px;
    background-color: #00BCD4;
    color: white;
    cursor: pointer;
}
.next:hover,submit:hover {
    background-color: #FF5722;
}