body {

background-color: #F7F7F7;
border-top:5px solid #FFCE47;
}

.navbar-header{

height:70px;


}

#main--container{



	margin-top: -80px;
}
#search--container{
margin-bottom: 70px;
}
navbar-toggle {

margin-top: 15px;
}
@media (min-width: 768px){
.navbar-right {
margin-top: 8px;
}
}

