*{

    font-family:Arial, Helvetica, sans-serif;
}

body{
margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;

}


#banner{
    
 width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    height: 400px;
    background-image: url('../img/background/background.jpg');
    
}

#header{
    width: 100%;
    height: 70px;
background-color: #FFCE47;
    border-top:4px solid #FFCE47;


}

.div{
    width: 100%;
    height: 600px;

}

input[type=search]{
    height: 0;
    border: 4px;
width: 450px;
    height: 46px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);

}

#search{

    height: 200px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;

}
#logo{

    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}
#searchForm{

    margin-left: auto;
    margin-right: auto;

    width: 450px;

}
#center{



}



@media only screen and (min-width: 0px) and (max-width: 639px) {



    #menuButton {
        width:45px;
        height:45px;
        float:right;
        margin-right:10px;
        background-image:url(../img/icons/menu.png);
        background-size:cover;
        cursor:pointer
    }

    #menuButtona {
        width:45px;
        height:45px;
        float:right;
        background-color:#E9E9E9;
        margin-right:10px;
        background-image:url(../img/icons/menu.png);
        background-size:cover;
        cursor:pointer
    }

    .menuItem {
        float:right;
        display:none
    }

    .menuItema {
        float:right;
        display:block
    }

    #menu {
        text-decoration:none;
        margin-top:5px;
        list-style:none;
        padding:0;
        float:right;
        height:auto;
        width:100%
    }

    #menu li:Not(:first-child) {
        background-color:#E9E9E9;
        text-align:center;
        font-family:'Roboto',sans-serif;
        line-height:60px;
        float:right;
        width:100%;
        height:60px
    }

    #menu li:Not(:first-child) a {
        display:block;
        color:#000;
        box-shadow:0 2px 5px 0 rgba(0,0,0,0.26);
        text-decoration:none
    }
    #menu li:Not(:first-child) a:hover {
        display:block;
        font-family:'Roboto',sans-serif;
        color:#FF5722;
        text-decoration:none
    }



}


@media only screen and (min-width: 640px) and (max-width: 3639px) {




#menuButton {
    width:45px;
    height:45px;
    float:right;
    margin-right:10px;
    background-image:url(../img/icons/menu.png);
    background-size:cover;
    cursor:pointer
}

#menuButtona {
    width:45px;
    height:45px;
    float:right;
    margin-right:10px;
    background-image:url(../img/icons/menu.png);
    background-size:cover;
    cursor:pointer
}

.menuItem {
    display:none
}

.menuItema {
    display:block
}

#menu {
    text-decoration:none;
    margin-top:5px;
    list-style:none;
    padding:0;
    float:right;
    height:auto;
    width:auto
}

#menu li:Not(:first-child) {
    margin-right:20px;
    text-align:center;
    line-height:45px;
    float:left;
    height:45px
}

#menu li:Not(:first-child) a {
    display:block;
    font-family:'Roboto',sans-serif;
    color:#000;
    text-decoration:none
}

#menu li:Not(:first-child) a:hover {
    display:block;
    font-family:'Roboto',sans-serif;
    color:#FF5722;
    text-decoration:none
}
}



#wrapper{
    
 width: 980px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;

    margin-top: 30px;
    
}


#wrapper>#left{
   width: 600px;
height: 100%;
    margin-right: 40px;

    float: left;
}

#wrapper>#right{
    float: left;
    width: 300px;
height: 100%;

        margin-left: 40px;
    
}


#map-canvas {
padding:0;
height:300px;
width:300px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
#target{
    width:300px;
    height: auto;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}