#target{
    
 position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;   
    
}

#banner{
    
 background-color: blue;
    height: 300px;
    
    
}

#banner > col-sm-2{
    
 background-color:  pink;   
}