<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Install Yeti </title>
    <link rel="stylesheet" type="text/css" href="assests/css/installStyle.css">
</head>
<body>

<div id="middle">
    <div id="center">
    <div id="logo">
        <img src="assests/img/logo/logo.png"  height="200" width="200" alt="logo">
        </div>
    <h2>Yeti</h2>
    </div>
    <form name="input" action="index.php?second=true" method="post">
    <input class="next"  type="submit" value="Install">

        </form>
    </div>

</body>
</html>