
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Install Yeti </title>
   <link rel="stylesheet" type="text/css" href="assests/css/installStyle.css">
</head>
<body>

<div id="middle">
    
      <div id="center">
    <div id="logo">
        <img src="assests/img/logo.png"  height="200" width="200" alt="logo">
        </div>
    <h2>Database details</h2>
       <form name="input"  action="index.php?third=true"  method="post">
<input type="text" placeholder="Datebase Name" name="dName" required>
<input type="text" placeholder="127.0.0.1" name="dHost" required>
<input type="text" placeholder="root" name="dUserName" required>
<input type="text" placeholder="password" name="dpassword">



<input class="next"  type="submit" value="Create" >
          </div>  
        </form>
    </div>

</body>
</html>