<htmL>
<head>

	<title>Sign up </title>

	<link rel="stylesheet" href="assests/css/bootstrap.css" type="text/css">
	    <link rel="stylesheet" href="assests/css/style.css" type="text/css">
	<script src="assests/js/jquery.min.js"></script>   
	<script  src="assests/js/bootstrap.js"></script>
	 <script  src="assests/js/handles.js"></script>
  
</head>

<body>




<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.php">Yeti</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   

      <ul class="nav navbar-nav navbar-right">
        <li>     

           <form class="navbar-form navbar-left"  id="search_bar"  name="search_bar"role="search">
       <div class="input-group">
  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
  <input type="text" class="form-control" placeholder="Search" id="search_bar_input" aria-describedby="basic-addon1">
</div>
      </form>

    </li>
          
        <li><a href="index.php?action=signinview">Sign in</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



















<div class="container">   
  <div class="row">
    <div class="col-sm-4">
    	
    </div>
    <div class="col-sm-4">
     
        <form class="form-horizontal"  id="signup" method="post" name='signup' role="form">
          <div class="form-group">
            <img src="assests/img/logo.png" class="img-responive center-block">
          </div>
         
             <div class="form-group" id="alert">
            </div>
         <div class="form-group">
            <input type="txt" name="username" class="form-control" placeholder="Username">
          </div>    
        <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="example@example.com">
          </div>
          <div class="form-group">
            <input type="password"  name ="password" class="form-control" placeholder="Password" id="pwd">
          </div>
         <div class="form-group">
        
            <input type="submit" class="btn btn-block btn-success btn-lg" value="Sign in">
              </div>
        </form>
     </div>

    <div class="col-sm-4">
     
     </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
    
    </div>
    <div class="col-sm-4">
     
     </div>

    <div class="col-sm-4">
     
     </div>
  </div>





 
</div>
    

</body>
</html>